# coding: utf-8

"""
    Api Documentation

    Api Documentation  # noqa: E501

    OpenAPI spec version: 1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class BuildControllerApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_image_from_deployer_using_get(self, application_id, strategy, **kwargs):  # noqa: E501
        """getImageFromDeployer  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_image_from_deployer_using_get(application_id, strategy, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str application_id: applicationId (required)
        :param str strategy: strategy (required)
        :param str release_type: releaseType
        :return: Build
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_image_from_deployer_using_get_with_http_info(application_id, strategy, **kwargs)  # noqa: E501
        else:
            (data) = self.get_image_from_deployer_using_get_with_http_info(application_id, strategy, **kwargs)  # noqa: E501
            return data

    def get_image_from_deployer_using_get_with_http_info(self, application_id, strategy, **kwargs):  # noqa: E501
        """getImageFromDeployer  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_image_from_deployer_using_get_with_http_info(application_id, strategy, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str application_id: applicationId (required)
        :param str strategy: strategy (required)
        :param str release_type: releaseType
        :return: Build
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['application_id', 'strategy', 'release_type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_image_from_deployer_using_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'application_id' is set
        if ('application_id' not in params or
                params['application_id'] is None):
            raise ValueError("Missing the required parameter `application_id` when calling `get_image_from_deployer_using_get`")  # noqa: E501
        # verify the required parameter 'strategy' is set
        if ('strategy' not in params or
                params['strategy'] is None):
            raise ValueError("Missing the required parameter `strategy` when calling `get_image_from_deployer_using_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'application_id' in params:
            path_params['applicationId'] = params['application_id']  # noqa: E501

        query_params = []
        if 'release_type' in params:
            query_params.append(('releaseType', params['release_type']))  # noqa: E501
        if 'strategy' in params:
            query_params.append(('strategy', params['strategy']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['main']  # noqa: E501

        return self.api_client.call_api(
            '/cc/v1/build/deployer/{applicationId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Build',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
