# coding: utf-8

"""
    Control-plane

    API Documentation  # noqa: E501

    OpenAPI spec version: 1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class UiAuditLogsControllerApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_audit_logs(self, start, **kwargs):  # noqa: E501
        """get_audit_logs  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_audit_logs(start, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime start: (required)
        :param datetime end:
        :param int number:
        :param int size:
        :param str stack_name: Regex based string match
        :param str cluster_name: Regex based string match
        :param str target: Regex based string match
        :param str performed_by: Regex based string match
        :param list[str] entity:
        :param list[str] entity_action:
        :return: PageFacetsAuditLogResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_audit_logs_with_http_info(start, **kwargs)  # noqa: E501
        else:
            (data) = self.get_audit_logs_with_http_info(start, **kwargs)  # noqa: E501
            return data

    def get_audit_logs_with_http_info(self, start, **kwargs):  # noqa: E501
        """get_audit_logs  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_audit_logs_with_http_info(start, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime start: (required)
        :param datetime end:
        :param int number:
        :param int size:
        :param str stack_name: Regex based string match
        :param str cluster_name: Regex based string match
        :param str target: Regex based string match
        :param str performed_by: Regex based string match
        :param list[str] entity:
        :param list[str] entity_action:
        :return: PageFacetsAuditLogResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['start', 'end', 'number', 'size', 'stack_name', 'cluster_name', 'target', 'performed_by', 'entity', 'entity_action']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_audit_logs" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'start' is set
        if ('start' not in params or
                params['start'] is None):
            raise ValueError("Missing the required parameter `start` when calling `get_audit_logs`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'end' in params:
            query_params.append(('end', params['end']))  # noqa: E501
        if 'number' in params:
            query_params.append(('number', params['number']))  # noqa: E501
        if 'size' in params:
            query_params.append(('size', params['size']))  # noqa: E501
        if 'stack_name' in params:
            query_params.append(('stackName', params['stack_name']))  # noqa: E501
        if 'cluster_name' in params:
            query_params.append(('clusterName', params['cluster_name']))  # noqa: E501
        if 'target' in params:
            query_params.append(('target', params['target']))  # noqa: E501
        if 'performed_by' in params:
            query_params.append(('performedBy', params['performed_by']))  # noqa: E501
        if 'entity' in params:
            query_params.append(('entity', params['entity']))  # noqa: E501
            collection_formats['entity'] = 'multi'  # noqa: E501
        if 'entity_action' in params:
            query_params.append(('entityAction', params['entity_action']))  # noqa: E501
            collection_formats['entityAction'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/cc-ui/v1/audit-logs', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PageFacetsAuditLogResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
