# coding: utf-8

"""
    Api Documentation

    Api Documentation  # noqa: E501

    OpenAPI spec version: 1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class UiCiCdControllerApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def attach_rule_and_workflow_using_put(self, attach_detach_ci_request, **kwargs):  # noqa: E501
        """Attach Rule and Workflow  # noqa: E501

        - **Description:** Attaches a rule and workflow to an artifact CI.  - **Restrictions:** CI must exist or will be created for the project.  - **Permissions:** Requires `ARTIFACT_CI_WRITE` permission.  - **Audit Logging:** Not applicable.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.attach_rule_and_workflow_using_put(attach_detach_ci_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AttachDetachCiRequest attach_detach_ci_request: attachDetachCiRequest (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.attach_rule_and_workflow_using_put_with_http_info(attach_detach_ci_request, **kwargs)  # noqa: E501
        else:
            (data) = self.attach_rule_and_workflow_using_put_with_http_info(attach_detach_ci_request, **kwargs)  # noqa: E501
            return data

    def attach_rule_and_workflow_using_put_with_http_info(self, attach_detach_ci_request, **kwargs):  # noqa: E501
        """Attach Rule and Workflow  # noqa: E501

        - **Description:** Attaches a rule and workflow to an artifact CI.  - **Restrictions:** CI must exist or will be created for the project.  - **Permissions:** Requires `ARTIFACT_CI_WRITE` permission.  - **Audit Logging:** Not applicable.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.attach_rule_and_workflow_using_put_with_http_info(attach_detach_ci_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AttachDetachCiRequest attach_detach_ci_request: attachDetachCiRequest (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['attach_detach_ci_request']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method attach_rule_and_workflow_using_put" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'attach_detach_ci_request' is set
        if self.api_client.client_side_validation and ('attach_detach_ci_request' not in params or
                                                       params['attach_detach_ci_request'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `attach_detach_ci_request` when calling `attach_rule_and_workflow_using_put`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'attach_detach_ci_request' in params:
            body_params = params['attach_detach_ci_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['main']  # noqa: E501

        return self.api_client.call_api(
            '/cc-ui/v1/ci-cd/attach', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def detach_rule_and_workflow_using_put(self, attach_detach_ci_request, **kwargs):  # noqa: E501
        """Detach Rule and Workflow  # noqa: E501

        - **Description:** Detaches a rule and workflow from an artifact CI.  - **Restrictions:** Existing CI registration required.  - **Permissions:** Requires `ARTIFACT_CI_WRITE` permission.  - **Audit Logging:** Not applicable.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.detach_rule_and_workflow_using_put(attach_detach_ci_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AttachDetachCiRequest attach_detach_ci_request: attachDetachCiRequest (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.detach_rule_and_workflow_using_put_with_http_info(attach_detach_ci_request, **kwargs)  # noqa: E501
        else:
            (data) = self.detach_rule_and_workflow_using_put_with_http_info(attach_detach_ci_request, **kwargs)  # noqa: E501
            return data

    def detach_rule_and_workflow_using_put_with_http_info(self, attach_detach_ci_request, **kwargs):  # noqa: E501
        """Detach Rule and Workflow  # noqa: E501

        - **Description:** Detaches a rule and workflow from an artifact CI.  - **Restrictions:** Existing CI registration required.  - **Permissions:** Requires `ARTIFACT_CI_WRITE` permission.  - **Audit Logging:** Not applicable.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.detach_rule_and_workflow_using_put_with_http_info(attach_detach_ci_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AttachDetachCiRequest attach_detach_ci_request: attachDetachCiRequest (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['attach_detach_ci_request']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method detach_rule_and_workflow_using_put" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'attach_detach_ci_request' is set
        if self.api_client.client_side_validation and ('attach_detach_ci_request' not in params or
                                                       params['attach_detach_ci_request'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `attach_detach_ci_request` when calling `detach_rule_and_workflow_using_put`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'attach_detach_ci_request' in params:
            body_params = params['attach_detach_ci_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['main']  # noqa: E501

        return self.api_client.call_api(
            '/cc-ui/v1/ci-cd/detach', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def generate_artifact_push_credentials_using_post1(self, push_credentials_request, **kwargs):  # noqa: E501
        """Generate Artifact Push Credentials  # noqa: E501

        - **Description:** Generates push credentials for an artifact.  - **Restrictions:** Only for supported artifactory types.  - **Permissions:** Requires `ARTIFACTS_WRITE` permission.  - **Audit Logging:** Not applicable.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.generate_artifact_push_credentials_using_post1(push_credentials_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PushCredentialsRequest push_credentials_request: pushCredentialsRequest (required)
        :return: PushCredentialsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.generate_artifact_push_credentials_using_post1_with_http_info(push_credentials_request, **kwargs)  # noqa: E501
        else:
            (data) = self.generate_artifact_push_credentials_using_post1_with_http_info(push_credentials_request, **kwargs)  # noqa: E501
            return data

    def generate_artifact_push_credentials_using_post1_with_http_info(self, push_credentials_request, **kwargs):  # noqa: E501
        """Generate Artifact Push Credentials  # noqa: E501

        - **Description:** Generates push credentials for an artifact.  - **Restrictions:** Only for supported artifactory types.  - **Permissions:** Requires `ARTIFACTS_WRITE` permission.  - **Audit Logging:** Not applicable.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.generate_artifact_push_credentials_using_post1_with_http_info(push_credentials_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PushCredentialsRequest push_credentials_request: pushCredentialsRequest (required)
        :return: PushCredentialsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['push_credentials_request']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method generate_artifact_push_credentials_using_post1" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'push_credentials_request' is set
        if self.api_client.client_side_validation and ('push_credentials_request' not in params or
                                                       params['push_credentials_request'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `push_credentials_request` when calling `generate_artifact_push_credentials_using_post1`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'push_credentials_request' in params:
            body_params = params['push_credentials_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['main']  # noqa: E501

        return self.api_client.call_api(
            '/cc-ui/v1/ci-cd/pushCredentials', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PushCredentialsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_ci_cd_details_using_get(self, stack_name, **kwargs):  # noqa: E501
        """Get CI/CD Details  # noqa: E501

        - **Description:** Retrieves CI/CD details for a specified project name.  - **Restrictions:** Requires existing default artifact routing rule or promotion workflow.  - **Permissions:** None required.  - **Audit Logging:** Not applicable.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_ci_cd_details_using_get(stack_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str stack_name: stackName (required)
        :return: CiCdDto
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_ci_cd_details_using_get_with_http_info(stack_name, **kwargs)  # noqa: E501
        else:
            (data) = self.get_ci_cd_details_using_get_with_http_info(stack_name, **kwargs)  # noqa: E501
            return data

    def get_ci_cd_details_using_get_with_http_info(self, stack_name, **kwargs):  # noqa: E501
        """Get CI/CD Details  # noqa: E501

        - **Description:** Retrieves CI/CD details for a specified project name.  - **Restrictions:** Requires existing default artifact routing rule or promotion workflow.  - **Permissions:** None required.  - **Audit Logging:** Not applicable.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_ci_cd_details_using_get_with_http_info(stack_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str stack_name: stackName (required)
        :return: CiCdDto
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['stack_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_ci_cd_details_using_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'stack_name' is set
        if self.api_client.client_side_validation and ('stack_name' not in params or
                                                       params['stack_name'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `stack_name` when calling `get_ci_cd_details_using_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'stack_name' in params:
            path_params['stackName'] = params['stack_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['main']  # noqa: E501

        return self.api_client.call_api(
            '/cc-ui/v1/ci-cd/{stackName}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CiCdDto',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def register_artifact_saas_using_post1(self, artifact_request, **kwargs):  # noqa: E501
        """Register Artifact SaaS  # noqa: E501

        - **Description:** Registers a new artifact within the system for SaaS.  - **Restrictions:** Valid artifactory name and consistent registration type required. Blueprint must be CI/CD configured.  - **Permissions:** Requires `ARTIFACTS_WRITE` permission.  - **Audit Logging:** Not applicable.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.register_artifact_saas_using_post1(artifact_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SaasArtifactRequest artifact_request: artifactRequest (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.register_artifact_saas_using_post1_with_http_info(artifact_request, **kwargs)  # noqa: E501
        else:
            (data) = self.register_artifact_saas_using_post1_with_http_info(artifact_request, **kwargs)  # noqa: E501
            return data

    def register_artifact_saas_using_post1_with_http_info(self, artifact_request, **kwargs):  # noqa: E501
        """Register Artifact SaaS  # noqa: E501

        - **Description:** Registers a new artifact within the system for SaaS.  - **Restrictions:** Valid artifactory name and consistent registration type required. Blueprint must be CI/CD configured.  - **Permissions:** Requires `ARTIFACTS_WRITE` permission.  - **Audit Logging:** Not applicable.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.register_artifact_saas_using_post1_with_http_info(artifact_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param SaasArtifactRequest artifact_request: artifactRequest (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['artifact_request']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method register_artifact_saas_using_post1" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'artifact_request' is set
        if self.api_client.client_side_validation and ('artifact_request' not in params or
                                                       params['artifact_request'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `artifact_request` when calling `register_artifact_saas_using_post1`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'artifact_request' in params:
            body_params = params['artifact_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['main']  # noqa: E501

        return self.api_client.call_api(
            '/cc-ui/v1/ci-cd/register', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def save_ci_cd_details_using_post(self, ci_cd_dto, **kwargs):  # noqa: E501
        """Save CI/CD Details  # noqa: E501

        - **Description:** Saves CI/CD configuration details.  - **Restrictions:** Cannot change registration type after initial configuration.  - **Permissions:** Requires `CI_CD_CONFIGURE` permission.  - **Audit Logging:** This operation is logged for audit purposes.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.save_ci_cd_details_using_post(ci_cd_dto, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CiCdDto ci_cd_dto: ciCdDto (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.save_ci_cd_details_using_post_with_http_info(ci_cd_dto, **kwargs)  # noqa: E501
        else:
            (data) = self.save_ci_cd_details_using_post_with_http_info(ci_cd_dto, **kwargs)  # noqa: E501
            return data

    def save_ci_cd_details_using_post_with_http_info(self, ci_cd_dto, **kwargs):  # noqa: E501
        """Save CI/CD Details  # noqa: E501

        - **Description:** Saves CI/CD configuration details.  - **Restrictions:** Cannot change registration type after initial configuration.  - **Permissions:** Requires `CI_CD_CONFIGURE` permission.  - **Audit Logging:** This operation is logged for audit purposes.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.save_ci_cd_details_using_post_with_http_info(ci_cd_dto, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CiCdDto ci_cd_dto: ciCdDto (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ci_cd_dto']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method save_ci_cd_details_using_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'ci_cd_dto' is set
        if self.api_client.client_side_validation and ('ci_cd_dto' not in params or
                                                       params['ci_cd_dto'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `ci_cd_dto` when calling `save_ci_cd_details_using_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'ci_cd_dto' in params:
            body_params = params['ci_cd_dto']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['main']  # noqa: E501

        return self.api_client.call_api(
            '/cc-ui/v1/ci-cd', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
